
<div class="tech-btm">
	<h4>Mail Bültenine Abone olun.</h4>
	<p>Teknoloji,yazılım ve diğer bloglar...</p>
	<form action="/NewsLetter/NewsLetterSubscribe" method="post">
								
		
			<input hidden type="text"name="BlogId" value="">
			
								

		<input type="email" placeholder="Email" name="Mail" required="">
		<input type="submit" value="Abone Ol">
	</form>

</div>
						