@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Ders 3 <a href="https://docs.microsoft.com/aspnet/core">Core Kampı</a>.</p>
</div>




